<container class="footer-container">
  <row>
    <columns class="footer-body">
      <p>
        If you prefer not to receive these trip-related messages, you can
        unsubscribe . Please note that this does not include your initial
        confirmation/itinerary emails or any messages related to a change to, or
        cancelation of, your booked itinerary as those messages are required
        confirmations of your transactions.
      </p>
      <p>This is a post-only mailing from Southwest Airlines®. Please do not attempt to respond to this message. Your privacy is important to us. Please read our privacy policy
            .</p>
      <p>See Southwest Airlines Co. Notice of Incorporation</p>
      <p>Cualquier información publicitaria, promocional o de mercadotecnia contenida en este correo electrónico sólo será efectiva y únicamente será aplicable en los Estados Unidos de América.</p>
      <p>Southwest Airlines <br>
            2702 Love Field Drive <br>
            Dallas, TX 75235 <br>
            1-800-I-FLY-SWA (1-800-435-9792)</p>
      <p>© Copyright 2019 Southwest Airlines Co. All Rights Reserved.</>
    </columns>
  </row>
</container>
