<container class="header-container">
    <row>
            <columns small="12" large="12"></columns>
    </row>
    <row>
        
        <columns class="left-nav-item" small="12" large="5" >
            <img src="https://res.cloudinary.com/rayray89/image/upload/v1566503864/Transactional%20email%20Images/southwest_ndmqlz.png" alt="southwest logo">
        </columns>
        <columns class="right-nav-container" small="12"  large="7">
            <columns small="4"arge="4">
                <div class="nav-items">Manage Flight</div>
            </columns>
            <columns small="4" large="4">
                <div class="nav-items">Flight Status</div>
            </columns>
            <columns small="4" large="4">
                <div class="nav-items nav-acct">My Account</div>
            </columns>
        </columns>
    </row>
</container>

